.heading {
  text-align: center;
  height: 50px;
  background-color: gray;
  color: white;
}
.form {
  margin: auto;
  width: 50%;
}
.formbtn {
  margin-top: 20px !important;
  margin-right: 20px !important;
}
